#menu {
	position: fixed;
	width: 100%;
	height: 35px;
}

#menu-outer {
	height: 84px;
}

.table {
	display: table;
	/* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	
}

ul#horizontal-list li {
	display: inline;
	
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
	font-size: 30px;
}

a:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

body {
	background-image: url("rug.webp");
	background-color: #cccccc;
	color: white;
	font-weight: bold;

   }

p { margin: 0 0 1.5em; 
	color: purple;

	background-color: beige;}